*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    background-color: #37517e;
    /* height: 900px; */
}

.texte{
  height: 700px;   
}

.navbar{
    /* background-color: rgb(55, 81, 126, 0.9); */
    background-color: rgba(40, 58, 90, 0.9);
}

.nav-link{
    /* padding-top: 40px; */
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.nav-link:hover{
    color: #47b2e4;
}

.img-fluid{
   max-width: 100%;
    height: auto;
    
}

.last{
    background-color: #47b2e4;
    border-radius: 50px;
    padding-top: 0px;
    padding: 5px 20px;
    /* margin-top: 30px; */
}

@media screen and (max-width: 1200px) {
    .position{
        position: absolute;
        right: 60px;
    }
}

.btn{
    /* background-color: #47b2e4; */
    border-radius: 70px;
}

.btn-2{
    background-color: transparent;
    color: white;
}

.btn-2:hover{
    color: #47b2e4;
}

img{
    height: 30px;
}
.carousel-item {
    display: inline-block;
    height: 30%;
    background-color: antiquewhite;
}
